In [2]:
import pandas as pd
import numpy as np

In [3]:
file_path = "/Users/admin/codes/jupyter_codes/data/"+"lending_club_2020_train.csv"
origin_data = pd.read_csv(file_path)
origin_data.head()

/var/folders/4k/lxd3n8m934z_82zsdzv73d5r0000gn/T/ipykernel_68123/3635106113.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  origin_data = pd.read_csv(file_path)

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag
0,124989905,6000.0,6000.0,6000.0,36 months,7.97%,187.94,A,A5,Teacher,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1,139665484,35000.0,35000.0,35000.0,60 months,14.47%,822.95,C,C2,Product Specialist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,84253847,23200.0,23200.0,23200.0,60 months,24.99%,680.82,E,E4,Production Foreman,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
3,126296074,4500.0,4500.0,4500.0,36 months,9.93%,145.06,B,B2,Office Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
4,148913312,15000.0,15000.0,15000.0,36 months,16.40%,530.33,C,C4,Secretary,...,May-2020,Jul-2020,May-2020,2.0,0.0,ACTIVE,413.83,11025.25,54.62,N

In [4]:
origin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1755295 entries, 0 to 1755294
Columns: 141 entries, id to debt_settlement_flag
dtypes: float64(106), object(35)
memory usage: 1.8+ GB

In [5]:
origin_data.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,...,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount
count,1.755294e+06,1.755294e+06,1.755294e+06,1.755294e+06,1.755292e+06,1.753433e+06,1.755278e+06,1.755294e+06,1.755294e+06,1.755278e+06,...,118705.000000,118705.000000,118705.000000,86036.000000,109131.000000,86036.000000,86035.000000,107480.000000,109131.00000,109131.000000
mean,1.535079e+04,1.534665e+04,1.533186e+04,4.521032e+02,7.994798e+04,1.930943e+01,2.893348e-01,7.005373e+02,7.045375e+02,5.543441e-01,...,12.566354,0.037454,0.067065,2.234820,119.600574,2.234820,2.289522,370.207540,11990.70022,749.234284
std,9.472634e+03,9.471411e+03,9.474863e+03,2.726766e+02,1.267416e+05,1.592243e+01,8.430192e-01,3.378152e+01,3.378246e+01,8.597982e-01,...,8.222663,0.354166,0.366782,0.568368,246.988946,0.568368,6.130802,472.563626,9169.15688,2114.495770
min,5.000000e+02,5.000000e+02,0.000000e+00,7.610000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.100000e+02,6.140000e+02,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,8.000000e+03,8.000000e+03,8.000000e+03,2.533500e+02,4.700000e+04,1.208000e+01,0.000000e+00,6.750000e+02,6.790000e+02,0.000000e+00,...,7.000000,0.000000,0.000000,2.000000,0.000000,2.000000,0.000000,104.547500,4756.05000,259.080000
50%,1.300000e+04,1.300000e+04,1.300000e+04,3.816600e+02,6.600000e+04,1.810000e+01,0.000000e+00,6.950000e+02,6.990000e+02,0.000000e+00,...,11.000000,0.000000,0.000000,2.000000,0.000000,2.000000,0.000000,248.850000,9971.20000,422.720000
75%,2.000000e+04,2.000000e+04,2.000000e+04,6.033500e+02,9.500000e+04,2.489000e+01,0.000000e+00,7.200000e+02,7.240000e+02,1.000000e+00,...,17.000000,0.000000,0.000000,2.000000,100.190000,2.000000,0.000000,483.692625,17629.36500,679.290000
max,4.000000e+04,4.000000e+04,4.000000e+04,1.719830e+03,1.100000e+08,9.990000e+02,5.800000e+01,8.450000e+02,8.500000e+02,3.100000e+01,...,110.000000,21.000000,20.000000,4.000000,2797.500000,4.000000,67.000000,11581.820000,42088.07000,40270.980000

In [6]:
origin_data.select_dtypes("object").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1755295 entries, 0 to 1755294
Data columns (total 35 columns):
 #   Column                     Dtype
---  ------                     -----
 0   id                         object
 1   term                       object
 2   int_rate                   object
 3   grade                      object
 4   sub_grade                  object
 5   emp_title                  object
 6   emp_length                 object
 7   home_ownership             object
 8   verification_status        object
 9   issue_d                    object
 10  loan_status                object
 11  pymnt_plan                 object
 12  url                        object
 13  purpose                    object
 14  title                      object
 15  zip_code                   object
 16  addr_state                 object
 17  earliest_cr_line           object
 18  revol_util                 object
 19  initial_list_status        object
 20  last_pymnt_d               object
 21  next_pymnt_d               object
 22  last_credit_pull_d         object
 23  application_type           object
 24  verification_status_joint  object
 25  sec_app_earliest_cr_line   object
 26  hardship_flag              object
 27  hardship_type              object
 28  hardship_reason            object
 29  hardship_status            object
 30  hardship_start_date        object
 31  hardship_end_date          object
 32  payment_plan_start_date    object
 33  hardship_loan_status       object
 34  debt_settlement_flag       object
dtypes: object(35)
memory usage: 468.7+ MB

In [7]:
origin_data.select_dtypes("object").describe()

,id,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,...,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,debt_settlement_flag
count,1755295,1755294,1755294,1755294,1755294,1596894,1632210,1755294,1755294,1755294,...,118705,1732203,86036,86031,86034,86036,86036,86036,85908,1755294
unique,1755295,2,693,7,35,404167,11,6,3,160,...,674,2,9,17,4,46,47,46,13,2
top,124989905,36 months,8.19%,B,B4,Teacher,10+ years,MORTGAGE,Source Verified,Mar-2016,...,Aug-2006,N,CVD19SKIP,INCOMECURT,ACTIVE,Apr-2020,Jun-2020,Apr-2020,ACTIVE,N
freq,1,1236014,41159,515082,111180,30092,567404,862836,686265,37347,...,1081,1659249,78089,50497,72952,62461,47634,46614,69831,1724502

In [8]:
origin_data.select_dtypes("float64").describe()

,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,...,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount
count,1.755294e+06,1.755294e+06,1.755294e+06,1.755294e+06,1.755292e+06,1.753433e+06,1.755278e+06,1.755294e+06,1.755294e+06,1.755278e+06,...,118705.000000,118705.000000,118705.000000,86036.000000,109131.000000,86036.000000,86035.000000,107480.000000,109131.00000,109131.000000
mean,1.535079e+04,1.534665e+04,1.533186e+04,4.521032e+02,7.994798e+04,1.930943e+01,2.893348e-01,7.005373e+02,7.045375e+02,5.543441e-01,...,12.566354,0.037454,0.067065,2.234820,119.600574,2.234820,2.289522,370.207540,11990.70022,749.234284
std,9.472634e+03,9.471411e+03,9.474863e+03,2.726766e+02,1.267416e+05,1.592243e+01,8.430192e-01,3.378152e+01,3.378246e+01,8.597982e-01,...,8.222663,0.354166,0.366782,0.568368,246.988946,0.568368,6.130802,472.563626,9169.15688,2114.495770
min,5.000000e+02,5.000000e+02,0.000000e+00,7.610000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.100000e+02,6.140000e+02,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,8.000000e+03,8.000000e+03,8.000000e+03,2.533500e+02,4.700000e+04,1.208000e+01,0.000000e+00,6.750000e+02,6.790000e+02,0.000000e+00,...,7.000000,0.000000,0.000000,2.000000,0.000000,2.000000,0.000000,104.547500,4756.05000,259.080000
50%,1.300000e+04,1.300000e+04,1.300000e+04,3.816600e+02,6.600000e+04,1.810000e+01,0.000000e+00,6.950000e+02,6.990000e+02,0.000000e+00,...,11.000000,0.000000,0.000000,2.000000,0.000000,2.000000,0.000000,248.850000,9971.20000,422.720000
75%,2.000000e+04,2.000000e+04,2.000000e+04,6.033500e+02,9.500000e+04,2.489000e+01,0.000000e+00,7.200000e+02,7.240000e+02,1.000000e+00,...,17.000000,0.000000,0.000000,2.000000,100.190000,2.000000,0.000000,483.692625,17629.36500,679.290000
max,4.000000e+04,4.000000e+04,4.000000e+04,1.719830e+03,1.100000e+08,9.990000e+02,5.800000e+01,8.450000e+02,8.500000e+02,3.100000e+01,...,110.000000,21.000000,20.000000,4.000000,2797.500000,4.000000,67.000000,11581.820000,42088.07000,40270.980000

In [9]:
columns = origin_data.columns
column_list = columns.to_list()
with open("data/columns.txt", mode="w") as f:
    for column in column_list:
        f.write(column + "\n")

In [10]:
origin_data.isnull().sum()

id                                                  0
loan_amnt                                           1
funded_amnt                                         1
funded_amnt_inv                                     1
term                                                1
                                               ...
hardship_loan_status                          1669387
orig_projected_additional_accrued_interest    1647815
hardship_payoff_balance_amount                1646164
hardship_last_payment_amount                  1646164
debt_settlement_flag                                1
Length: 141, dtype: int64

In [11]:
origin_data.select_dtypes("float64").isnull().sum()

loan_amnt                                           1
funded_amnt                                         1
funded_amnt_inv                                     1
installment                                         1
annual_inc                                          3
                                               ...
hardship_length                               1669259
hardship_dpd                                  1669260
orig_projected_additional_accrued_interest    1647815
hardship_payoff_balance_amount                1646164
hardship_last_payment_amount                  1646164
Length: 106, dtype: int64

In [12]:
origin_data.select_dtypes("object").isnull().sum()

id                                 0
term                               1
int_rate                           1
grade                              1
sub_grade                          1
emp_title                     158401
emp_length                    123085
home_ownership                     1
verification_status                1
issue_d                            1
loan_status                        1
pymnt_plan                         1
url                                1
purpose                            1
title                          14044
zip_code                           1
addr_state                         1
earliest_cr_line                  17
revol_util                      1588
initial_list_status                1
last_pymnt_d                    3030
next_pymnt_d                 1115889
last_credit_pull_d                42
application_type                   1
verification_status_joint    1638412
sec_app_earliest_cr_line     1636590
hardship_flag                  23092
hardship_type                1669259
hardship_reason              1669264
hardship_status              1669261
hardship_start_date          1669259
hardship_end_date            1669259
payment_plan_start_date      1669259
hardship_loan_status         1669387
debt_settlement_flag               1
dtype: int64

In [13]:
origin_data["loan_status"].value_counts()
# 여기서 loan_status가 Current인 값들은 제외해도 되지않을까
# 여기서 중요한 target_field는 (Fully Paid, Charged Off)이다.

loan_status
Fully Paid                                             898522
Current                                                618688
Charged Off                                            217366
Late (31-120 days)                                       9840
In Grace Period                                          6049
Late (16-30 days)                                        1620
Issued                                                   1258
Does not meet the credit policy. Status:Fully Paid       1223
Does not meet the credit policy. Status:Charged Off       460
Default                                                   268
Name: count, dtype: int64

In [14]:
origin_data["loan_status"].unique()

array(['Fully Paid', 'Current', 'Charged Off', 'Late (16-30 days)',
       'Late (31-120 days)', 'In Grace Period', 'Issued',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Default',
       nan], dtype=object)

In [15]:
origin_data.select_dtypes("object").value_counts()

id         term        int_rate  grade  sub_grade  emp_title                      emp_length  home_ownership  verification_status  issue_d   loan_status  pymnt_plan  url                                                                 purpose             title                    zip_code  addr_state  earliest_cr_line  revol_util  initial_list_status  last_pymnt_d  next_pymnt_d  last_credit_pull_d  application_type  verification_status_joint  sec_app_earliest_cr_line  hardship_flag  hardship_type  hardship_reason     hardship_status  hardship_start_date  hardship_end_date  payment_plan_start_date  hardship_loan_status  debt_settlement_flag
99597998    60 months   13.99%   C      C3         Real Estate Broker             3 years     MORTGAGE        Verified             Apr-2017  Current      n           https://lendingclub.com/browse/loanDetail.action?loan_id=99597998   debt_consolidation  Debt consolidation       272xx     NC          Aug-2001          88.5%       w                    Jun-2020      Aug-2020      May-2020            Joint App         Source Verified            Dec-2000                  Y              CVD19SKIP      INCOME_CURTAILMENT  ACTIVE           May-2020             Jul-2020           May-2020                 ACTIVE                N                       1
152817648   60 months   14.74%   C      C2         Front Office Administrator     1 year      MORTGAGE        Source Verified      Jun-2019  Current      n           https://lendingclub.com/browse/loanDetail.action?loan_id=152817648  other               Other                    199xx     DE          Jun-2005          16.2%       w                    Mar-2020      Jul-2020      May-2020            Joint App         Source Verified            Feb-2016                  Y              CVD19SKIP      UNEMPLOYED          ACTIVE           Apr-2020             Jun-2020           Apr-2020                 ACTIVE                N                       1
152770292   60 months   13.08%   B      B5         Manager                        < 1 year    MORTGAGE        Source Verified      Jun-2019  Current      n           https://lendingclub.com/browse/loanDetail.action?loan_id=152770292  home_improvement    Home improvement         852xx     AZ          Sep-2005          69.3%       w                    Jul-2020      Sep-2020      May-2020            Joint App         Source Verified            Jul-2002                  Y              CVD19SKIP      INCOME_CURTAILMENT  ACTIVE           May-2020             Aug-2020           Jun-2020                 ACTIVE                N                       1
152773355   36 months    8.19%   A      A4         Supervisor                     10+ years   RENT            Verified             Jun-2019  Current      n           https://lendingclub.com/browse/loanDetail.action?loan_id=152773355  debt_consolidation  Debt consolidation       070xx     NJ          Jun-2006          20.3%       w                    Jun-2020      Aug-2020      May-2020            Joint App         Verified                   Jun-2006                  Y              CVD19SKIP      UNEMPLOYED          ACTIVE           Apr-2020             Jul-2020           May-2020                 ACTIVE                N                       1
152777158   36 months   10.33%   B      B1         Care provider                  3 years     OWN             Not Verified         Jun-2019  Current      n           https://lendingclub.com/browse/loanDetail.action?loan_id=152777158  credit_card         Credit card refinancing  112xx     NY          Oct-1997          67.6%       w                    Jun-2020      Aug-2020      May-2020            Joint App         Not Verified               Nov-2014                  Y              CVD19SKIP      INCOMECURT          ACTIVE           Apr-2020             Jul-2020           May-2020                 ACTIVE                N                       1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ..
137227774   36 months   16.91%   C      C5         Paraprofessional               10+ years   MORTGAGE        Verified             Aug-2018  Current      n           https://lendingclub.com/browse/loanDetail.action?loan_id=137227774  debt_consolidation  Debt consolidation       300xx     GA          Jul-2013          62.8%       w                    Jun-2020      Aug-2020      May-2020            Joint App         Source Verified            Feb-2005                  Y              CVD19SKIP      INCOMECURT          ACTIVE           Apr-2020             Jun-2020           May-2020                 ACTIVE                N                       1
137219032   60 months   18.94%   D      D2         Senior Acquisition Specialist  5 years     MORTGAGE        Source Verified      Jul-2018  Current      n           https://lendingclub.com/browse/loanDetail.action?loan_id=137219032  home_improvement    Home improvement         781xx     TX          May-1993          96.6%       w                    Jun-2020      Aug-2020      May-2020            Joint App         Source Verified            Aug-2003                  Y              CVD19SKIP      INCOME_CURTAILMENT  ACTIVE           May-2020             Jul-2020           May-2020                 ACTIVE                N                       1
137217341   36 months   14.47%   C      C2         maid                           9 years     MORTGAGE        Not Verified         Jul-2018  Current      n           https://lendingclub.com/browse/loanDetail.action?loan_id=137217341  other               Other                    346xx     FL          Mar-2003          73.3%       f                    Jun-2020      Aug-2020      May-2020            Joint App         Not Verified               Nov-1999                  Y              CVD19SKIP      UNEMPLOYMENT        ACTIVE           May-2020             Jul-2020           May-2020                 GRACE_CURRENT         N                       1
137213684   60 months   10.47%   B      B2         Collections                    10+ years   OWN             Verified             Jul-2018  Current      n           https://lendingclub.com/browse/loanDetail.action?loan_id=137213684  debt_consolidation  Debt consolidation       935xx     CA          Oct-2005          4.5%        w                    Jul-2020      Sep-2020      May-2020            Joint App         Verified                   Aug-2009                  Y              CVD19SKIP      INCOME_CURTAILMENT  ACTIVE           May-2020             Aug-2020           Jun-2020                 ACTIVE                N                       1
168158403   36 months   18.62%   D      D1         Project Manager                1 year      RENT            Not Verified         Mar-2020  Current      n           https://lendingclub.com/browse/loanDetail.action?loan_id=168158403  debt_consolidation  Debt consolidation       346xx     FL          Nov-2010          44.4%       w                    Jun-2020      Aug-2020      May-2020            Joint App         Not Verified               Dec-2006                  Y              CVD19SKIP      REDCDHOURS          ACTIVE           May-2020             Jul-2020           May-2020                 ACTIVE                N                       1
Name: count, Length: 8811, dtype: int64

In [16]:
origin_data["loan_status"].value_counts()

loan_status
Fully Paid                                             898522
Current                                                618688
Charged Off                                            217366
Late (31-120 days)                                       9840
In Grace Period                                          6049
Late (16-30 days)                                        1620
Issued                                                   1258
Does not meet the credit policy. Status:Fully Paid       1223
Does not meet the credit policy. Status:Charged Off       460
Default                                                   268
Name: count, dtype: int64

In [17]:
# target field
# loan_status : target_field인데 이를 어떻게 해결할까요?
# Current, Fully Paid, Charged Off, Issued, ... 등등이 존재함
"""
loan_status
Fully Paid                                             898522 : 채무상환 완료 - 확실한 긍정
Current                                                618688 : 현재 대출이 진행 중인 대출 - 필요한가?
Charged Off                                            217366 : 감가상각에 들어간 대출(채권자가 채무자에게 돈 받기를 포기) - 논의 필요
Late (31-120 days)                                       9840 : 연체 - 부정적? 아니면 그래도 갚았으니 긍정적?
In Grace Period                                          6049 : 유예기간(만료기간이 끝나고, 연체기간이 가기 전) - 부정적?
Late (16-30 days)                                        1620 : 연체 - 부정적? 아니면 그래도 갚았으니 긍정적?
Issued                                                   1258 : ???
Does not meet the credit policy. Status:Fully Paid       1223 : ???
Does not meet the credit policy. Status:Charged Off       460 : ???
Default                                                   268 : 파산 - 확실한 부정
"""
# 제외해도 괜찮을 거같은 field
# id : 의미가 없는 field~
# grade : sub_grade가 해당 값을 포함
# url : 이것도 의미가 없다~

# 전처리해야할 필드
"""suffix 처리"""
# term : xx months -> xx
# int_rate : xx.xx% -> xx.xx
# revol_util : %
# zip_code : 000xx -> 000
"""categorical 값"""  # 이거는 replace 혹은, get_dummies를 사용해서 편집한다. 혹은 astype('category')를 사용하기
# emp_length : 너무 제 각각 이다.
# home_ownership : ['MORTGAGE', 'RENT', 'OWN', 'ANY', 'OTHER', 'NONE', nan]
# verification_status : ['Verified', 'Source Verified', 'Not Verified', nan]
# pymnt_plan : ['n', nan] nan을 drop한다.
# purpose:
"""['debt_consolidation', 'credit_card', 'home_improvement', 'house',
'other', 'vacation', 'car', 'major_purchase', 'small_business',
'medical', 'moving', 'renewable_energy', 'wedding', 'educational',
nan]
"""
# title
# addr_state
# initial_list_status ['w', 'f', nan]
"""날짜 형식"""
# issue_d : %M-%Y (ex) Feb-2010 -> %m-%Y (ex) split해서 year, month?
# earliest_cr_line
# last_pymnt_d
# next_pymnt_d
# last_credit_pull_d
"""
emp_length
['2 years', '10+ years', nan, '5 years', '1 year', '4 years',
'3 years', '< 1 year', '7 years', '6 years', '8 years', '9 years'
"""
"""
loan_status
['Fully Paid', 'Current', 'Charged Off', 'Late (16-30 days)', 'Late (31-120 days)', 'In Grace Period', 'Issued',
'Does not meet the credit policy. Status:Fully Paid',
'Does not meet the credit policy. Status:Charged Off', 'Default',nan]
"""
# 얘기해봐야할 필드
# emp_title : 상위 N개의 직업들만을 갖고갈 것인가?

"\nloan_status\n['Fully Paid', 'Current', 'Charged Off', 'Late (16-30 days)', 'Late (31-120 days)', 'In Grace Period', 'Issued',\n'Does not meet the credit policy. Status:Fully Paid',\n'Does not meet the credit policy. Status:Charged Off', 'Default',nan]\n"

In [18]:
df_pos= origin_data[origin_data['loan_status'].isin(['Fully Paid', 'Late (16-30 days)', 'Late (31-120 days)'])]
df_pos['loan_status'].tail()

1755287    Fully Paid
1755288    Fully Paid
1755291    Fully Paid
1755292    Fully Paid
1755293    Fully Paid
Name: loan_status, dtype: object

In [19]:
df_neg= origin_data[origin_data['loan_status'].isin(['Default'])]
df_neg['loan_status'].head()

27351    Default
29107    Default
33301    Default
42111    Default
42187    Default
Name: loan_status, dtype: object

In [20]:
origin_data.shape

(1755295, 141)

In [21]:
origin_data['loan_status'].value_counts()

loan_status
Fully Paid                                             898522
Current                                                618688
Charged Off                                            217366
Late (31-120 days)                                       9840
In Grace Period                                          6049
Late (16-30 days)                                        1620
Issued                                                   1258
Does not meet the credit policy. Status:Fully Paid       1223
Does not meet the credit policy. Status:Charged Off       460
Default                                                   268
Name: count, dtype: int64

In [22]:
# Current status는 판별에 도움이 되지 않는다.
# 이제부터는 modified_df로 전처리한다.
modified_df = origin_data[origin_data['loan_status']!='Current']
modified_df.shape

(1136607, 141)

In [23]:
# modified_df(loan_staus!='Current')가 origin_df에서 35.24%가 걸러짐
rows_deleted = ((len(origin_data)-len(modified_df))*100)/len(origin_data)
print(rows_deleted)

35.24695279141113

In [24]:
# 중복 제거
duplicate_rows = len(modified_df[modified_df.duplicated()])
# 하나도 없다?, 아마도 url, id, ... 등등의 값으로 인해 unique한 row들만 있는 것 같다.
print(round(duplicate_rows,2))

0

In [25]:
# null로만 채워진 field를 확인한다.
(modified_df.isnull().sum()*100)/len(modified_df)

id                                             0.000000
loan_amnt                                      0.000088
funded_amnt                                    0.000088
funded_amnt_inv                                0.000088
term                                           0.000088
                                                ...
hardship_loan_status                          99.103648
orig_projected_additional_accrued_interest    98.292110
hardship_payoff_balance_amount                98.146853
hardship_last_payment_amount                  98.146853
debt_settlement_flag                           0.000088
Length: 141, dtype: float64

In [26]:
# modified_df = modified_df.dropna(axis=1, how='all')
# modified_df
# modified_df = modified_df.dropna(axis=0, how='all')
# modified_df

In [27]:
# 모두가 고유한 값을 가지는 값
unique_columns = [col for col in modified_df.columns if modified_df[col].nunique() == len(modified_df)]
unique_columns

['id']

In [28]:
modified_df.select_dtypes('object').value_counts()

id         term        int_rate  grade  sub_grade  emp_title               emp_length  home_ownership  verification_status  issue_d   loan_status         pymnt_plan  url                                                                 purpose             title                    zip_code  addr_state  earliest_cr_line  revol_util  initial_list_status  last_pymnt_d  next_pymnt_d  last_credit_pull_d  application_type  verification_status_joint  sec_app_earliest_cr_line  hardship_flag  hardship_type  hardship_reason  hardship_status  hardship_start_date  hardship_end_date  payment_plan_start_date  hardship_loan_status  debt_settlement_flag
101136079   36 months   16.99%   D      D1         Taxi Driver             10+ years   OWN             Verified             Mar-2017  In Grace Period     n           https://lendingclub.com/browse/loanDetail.action?loan_id=101136079  debt_consolidation  Debt consolidation       114xx     NY          Sep-1991          3.2%        w                    Apr-2020      Jun-2020      May-2020            Joint App         Verified                   Aug-2004                  N              CVD19SKIP      INCOMECURT       COMPLETE         Apr-2020             May-2020           Mar-2020                 GRACE_CURRENT         N                       1
148538015   36 months    7.56%   A      A3         Service Tech            7 years     MORTGAGE        Verified             Apr-2019  In Grace Period     n           https://lendingclub.com/browse/loanDetail.action?loan_id=148538015  credit_card         Credit card refinancing  606xx     IL          Nov-2000          42.3%       w                    Apr-2020      Jun-2020      May-2020            Joint App         Source Verified            Apr-1996                  N              CVD19SKIP      UNEMPLOYED       COMPLETE         Apr-2020             May-2020           Mar-2020                 GRACE_CURRENT         N                       1
149024923   60 months   28.80%   D      D5         Sales Person            5 years     RENT            Verified             Mar-2019  In Grace Period     n           https://lendingclub.com/browse/loanDetail.action?loan_id=149024923  debt_consolidation  Debt consolidation       113xx     NY          Oct-2012          80.3%       w                    Apr-2020      Jun-2020      May-2020            Joint App         Source Verified            Jan-2012                  N              CVD19SKIP      UNEMPLOYED       COMPLETE         Apr-2020             May-2020           Mar-2020                 INCOLLECTION          N                       1
148935962   36 months   20.00%   D      D2         Service Advisor         4 years     MORTGAGE        Not Verified         Mar-2019  In Grace Period     n           https://lendingclub.com/browse/loanDetail.action?loan_id=148935962  debt_consolidation  Debt consolidation       068xx     CT          Dec-1997          46.5%       w                    Apr-2020      Jun-2020      May-2020            Joint App         Not Verified               May-2001                  N              CVD19SKIP      INCOMECURT       COMPLETE         Apr-2020             May-2020           Mar-2020                 GRACE_CURRENT         N                       1
148919759   36 months   11.71%   B      B3         Finisher lead           < 1 year    RENT            Source Verified      Mar-2019  In Grace Period     n           https://lendingclub.com/browse/loanDetail.action?loan_id=148919759  debt_consolidation  Debt consolidation       928xx     CA          Dec-2011          35.1%       w                    Apr-2020      Jun-2020      May-2020            Joint App         Source Verified            Jun-2011                  N              CVD19SKIP      UNEMPLOYED       COMPLETE         Apr-2020             May-2020           Mar-2020                 GRACE_CURRENT         N                       1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ..
132697694   36 months   12.61%   C      C1         parts Supervisor        < 1 year    MORTGAGE        Verified             May-2018  Late (31-120 days)  n           https://lendingclub.com/browse/loanDetail.action?loan_id=132697694  debt_consolidation  Debt consolidation       330xx     FL          Feb-2003          62.2%       w                    Feb-2020      Jun-2020      May-2020            Joint App         Source Verified            Feb-2003                  Y              ST0650PV01     REDCDHOURS       ACTIVE           Dec-2019             Mar-2020           Jan-2020                 CURRENT               N                       1
132554425   36 months   21.85%   D      D5         teacher                 1 year      RENT            Source Verified      May-2018  Late (31-120 days)  n           https://lendingclub.com/browse/loanDetail.action?loan_id=132554425  other               Other                    104xx     NY          Mar-2010          50.5%       w                    Mar-2020      Jun-2020      May-2020            Joint App         Source Verified            Oct-2011                  Y              ST0650PV01     DISABILITY       ACTIVE           Dec-2019             Mar-2020           Jan-2020                 INCOLLECTION          N                       1
132257701   36 months   16.01%   C      C5         Manager (food service)  < 1 year    RENT            Not Verified         May-2018  In Grace Period     n           https://lendingclub.com/browse/loanDetail.action?loan_id=132257701  credit_card         Credit card refinancing  727xx     AR          Feb-2015          34.9%       w                    May-2020      Jul-2020      May-2020            Joint App         Not Verified               Nov-2010                  N              CVD19SKIP      INCOMECURT       COMPLETE         Apr-2020             May-2020           Mar-2020                 ACTIVE                N                       1
132197272   36 months   17.47%   D      D1         Truck Driver            4 years     MORTGAGE        Source Verified      Apr-2018  In Grace Period     n           https://lendingclub.com/browse/loanDetail.action?loan_id=132197272  other               Other                    997xx     AK          Sep-2008          38.4%       w                    Apr-2020      Jun-2020      May-2020            Joint App         Source Verified            Mar-2010                  N              CVD19SKIP      REDCDHOURS       COMPLETE         Apr-2020             May-2020           Mar-2020                 GRACE_CURRENT         N                       1
168644232   36 months    8.81%   A      A5         Pilot                   10+ years   MORTGAGE        Source Verified      Mar-2020  Issued              n           https://lendingclub.com/browse/loanDetail.action?loan_id=168644232  debt_consolidation  Debt consolidation       605xx     IL          Sep-2008          43.3%       w                    May-2020      Jul-2020      May-2020            Joint App         Source Verified            Sep-2008                  Y              CVD19SKIP      REDCDHOURS       ACTIVE           Apr-2020             Jun-2020           Apr-2020                 ACTIVE                N                       1
Name: count, Length: 314, dtype: int64

In [29]:
modified_df['term']

0           36 months
2           60 months
5           36 months
6           36 months
7           36 months
              ...
1755288     60 months
1755290     36 months
1755291     36 months
1755292     36 months
1755293     36 months
Name: term, Length: 1136607, dtype: object

In [30]:
import datetime as dt
import warnings

warnings.filterwarnings('ignore')

In [31]:
# term이 NA인 값 삭제
modified_df[modified_df['term'].isna()==True].index

Index([956843], dtype='int64')

In [32]:
modified_df.drop(modified_df[modified_df['term'].isna()==True].index, inplace=True)

In [33]:
def delete_suffix(term):
    term = term.strip().split()[0]
    return int(term)
modified_df['term'] = modified_df['term'].astype(str).apply(delete_suffix)
modified_df

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag
0,124989905,6000.0,6000.0,6000.0,36,7.97%,187.94,A,A5,Teacher,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,84253847,23200.0,23200.0,23200.0,60,24.99%,680.82,E,E4,Production Foreman,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
5,119708428,16000.0,16000.0,16000.0,36,7.07%,494.55,A,A2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
6,109906493,4500.0,4500.0,4500.0,36,10.42%,146.10,B,B3,Team Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
7,60286250,20000.0,20000.0,20000.0,36,9.99%,645.25,B,B3,teacher,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1755288,3218223,26500.0,26500.0,26450.0,60,17.27%,662.45,C,C5,Quality Contour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1755290,12987407,3600.0,3600.0,3600.0,36,19.99%,133.78,E,E1,Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1755291,44299336,19000.0,19000.0,18875.0,36,6.68%,583.89,A,A3,Systems Engineer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1755292,5205034,9600.0,9600.0,9600.0,36,14.33%,329.65,C,C1,ESS Support services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1755293,128261912,24000.0,24000.0,24000.0,36,7.35%,744.90,A,A4,sales associate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [34]:
def delete_suffix_xx(term):
    term = term.strip('xx')
    return int(term)
modified_df['zip_code'] = modified_df['zip_code'].astype(str).apply(delete_suffix_xx)
modified_df['zip_code'].value_counts()

zip_code
945    12213
750    12120
112    11752
606    10338
300    10191
       ...
819        1
504        1
522        1
510        1
938        1
Name: count, Length: 937, dtype: int64

In [35]:
def delete_suffix_percentage(term:str)->float:
    term = term.strip('%')
    return float(term)
modified_df['int_rate'] = modified_df['int_rate'].astype(str).apply(delete_suffix_percentage)
modified_df['revol_util'] = modified_df['revol_util'].astype(str).apply(delete_suffix_percentage)
modified_df

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag
0,124989905,6000.0,6000.0,6000.0,36,7.97,187.94,A,A5,Teacher,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
2,84253847,23200.0,23200.0,23200.0,60,24.99,680.82,E,E4,Production Foreman,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
5,119708428,16000.0,16000.0,16000.0,36,7.07,494.55,A,A2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
6,109906493,4500.0,4500.0,4500.0,36,10.42,146.10,B,B3,Team Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
7,60286250,20000.0,20000.0,20000.0,36,9.99,645.25,B,B3,teacher,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1755288,3218223,26500.0,26500.0,26450.0,60,17.27,662.45,C,C5,Quality Contour,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1755290,12987407,3600.0,3600.0,3600.0,36,19.99,133.78,E,E1,Manager,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1755291,44299336,19000.0,19000.0,18875.0,36,6.68,583.89,A,A3,Systems Engineer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1755292,5205034,9600.0,9600.0,9600.0,36,14.33,329.65,C,C1,ESS Support services,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
1755293,128261912,24000.0,24000.0,24000.0,36,7.35,744.90,A,A4,sales associate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [36]:
modified_df['earliest_cr_line'].head()

0    Sep-2005
2    May-1993
5    May-1984
6    Jul-1998
7    Nov-1999
Name: earliest_cr_line, dtype: object

In [37]:
modified_df['earliest_cr_line']=pd.to_datetime(modified_df['earliest_cr_line'], format='%b-%Y')
modified_df['earliest_cr_line'].head()

0   2005-09-01
2   1993-05-01
5   1984-05-01
6   1998-07-01
7   1999-11-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [38]:
# 날짜 preprocessing
def apply_to_multiple_columns(columns):
    for col in columns:
        modified_df[col]=pd.to_datetime(modified_df[col], format='%b-%Y')
columns_to_modify = ['earliest_cr_line','last_pymnt_d','next_pymnt_d',
                     'last_credit_pull_d','sec_app_earliest_cr_line',
                     'hardship_start_date','hardship_end_date',
                     'payment_plan_start_date', 'issue_d']
apply_to_multiple_columns(columns_to_modify)
modified_df['payment_plan_start_date'].value_counts()

payment_plan_start_date
2020-03-01    1765
2020-04-01    1107
2017-09-01     957
2017-10-01     881
2017-11-01     382
2018-10-01     235
2018-08-01     234
2017-12-01     231
2017-06-01     227
2018-11-01     223
2018-09-01     218
2020-05-01     205
2017-07-01     195
2018-01-01     182
2019-02-01     176
2018-12-01     172
2017-08-01     170
2018-02-01     168
2020-02-01     163
2018-07-01     159
2019-01-01     157
2020-01-01     134
2019-12-01     133
2019-03-01     132
2018-04-01     132
2019-04-01     128
2019-08-01     127
2017-05-01     125
2019-06-01     124
2018-05-01     120
2018-03-01     119
2019-10-01     116
2019-07-01     116
2018-06-01     115
2019-05-01     115
2019-09-01     108
2019-11-01     103
2020-06-01      48
2017-03-01       6
2020-10-01       4
2017-02-01       4
2020-07-01       4
2020-08-01       2
2017-04-01       2
2020-09-01       1
Name: count, dtype: int64

In [39]:
object_columns = modified_df.select_dtypes('object').columns
object_columns

Index(['id', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'verification_status', 'loan_status', 'pymnt_plan', 'url', 'purpose',
       'title', 'addr_state', 'initial_list_status', 'application_type',
       'verification_status_joint', 'hardship_flag', 'hardship_type',
       'hardship_reason', 'hardship_status', 'hardship_loan_status',
       'debt_settlement_flag'],
      dtype='object')

In [40]:
for index, col in enumerate(object_columns):
    print("===",index+1,"===", col)
    print(modified_df[col].value_counts())

=== 1 === id
id
124989905    1
18515237     1
43799901     1
71836201     1
96421343     1
            ..
39379729     1
71897141     1
44915196     1
9856509      1
128261912    1
Name: count, Length: 1136606, dtype: int64
=== 2 === grade
grade
B    332671
C    323434
A    210831
D    169336
E     70957
F     22759
G      6618
Name: count, dtype: int64
=== 3 === sub_grade
sub_grade
C1    72572
B5    71116
B4    70534
B3    66966
C2    66412
C3    63282
C4    62840
B2    62056
B1    61999
C5    58328
A5    54651
A4    46856
D1    42415
A1    40781
D2    39643
A3    34943
A2    33600
D3    33484
D4    29085
D5    24709
E1    17836
E2    15795
E3    14003
E4    11873
E5    11450
F1     7232
F2     5088
F3     4250
F4     3364
F5     2825
G1     2159
G2     1473
G3     1150
G4      957
G5      879
Name: count, dtype: int64
=== 4 === emp_title
emp_title
Teacher                     18843
Manager                     17109
Owner                        9717
Registered Nurse             7699
RN                           7323
                            ...
San Juan School District        1
Network Planner                 1
fairfeild inn and suits         1
State Filings Analyst           1
ESS Support services            1
Name: count, Length: 310069, dtype: int64
=== 5 === emp_length
emp_length
10+ years    371889
2 years      103330
< 1 year      94881
3 years       91265
1 year        75080
5 years       70999
4 years       68604
6 years       52057
8 years       47782
7 years       47554
9 years       40849
Name: count, dtype: int64
=== 6 === home_ownership
home_ownership
MORTGAGE    560094
RENT        450093
OWN         125507
ANY            768
OTHER          113
NONE            31
Name: count, dtype: int64
=== 7 === verification_status
verification_status
Source Verified    447944
Not Verified       361485
Verified           327177
Name: count, dtype: int64
=== 8 === loan_status
loan_status
Fully Paid                                             898522
Charged Off                                            217366
Late (31-120 days)                                       9840
In Grace Period                                          6049
Late (16-30 days)                                        1620
Issued                                                   1258
Does not meet the credit policy. Status:Fully Paid       1223
Does not meet the credit policy. Status:Charged Off       460
Default                                                   268
Name: count, dtype: int64
=== 9 === pymnt_plan
pymnt_plan
n    1136606
Name: count, dtype: int64
=== 10 === url
url
https://lendingclub.com/browse/loanDetail.action?loan_id=124989905    1
https://lendingclub.com/browse/loanDetail.action?loan_id=18515237     1
https://lendingclub.com/browse/loanDetail.action?loan_id=43799901     1
https://lendingclub.com/browse/loanDetail.action?loan_id=71836201     1
https://lendingclub.com/browse/loanDetail.action?loan_id=96421343     1
                                                                     ..
https://lendingclub.com/browse/loanDetail.action?loan_id=39379729     1
https://lendingclub.com/browse/loanDetail.action?loan_id=71897141     1
https://lendingclub.com/browse/loanDetail.action?loan_id=44915196     1
https://lendingclub.com/browse/loanDetail.action?loan_id=9856509      1
https://lendingclub.com/browse/loanDetail.action?loan_id=128261912    1
Name: count, Length: 1136606, dtype: int64
=== 11 === purpose
purpose
debt_consolidation    649634
credit_card           252294
home_improvement       75404
other                  69369
major_purchase         25592
medical                13826
small_business         12666
car                    12280
vacation                8154
moving                  8008
house                   6960
wedding                 1375
renewable_energy         809
educational              235
Name: count, dtype: int64
=== 12 === title
title
Debt consolidation                          575290
Credit card refinancing                     224237
Home improvement                             67676
Other                                        62408
Major purchase                               22266
                                             ...
1fbusa payoff                                    1
Operation new backyard                           1
CREDIT CARD LOANS                                1
Debt Consilidation 2                             1
Investment in successful family business         1
Name: count, Length: 40740, dtype: int64
=== 13 === addr_state
addr_state
CA    161655
TX     93346
NY     92527
FL     82011
IL     44337
NJ     40872
PA     38352
OH     37168
GA     36887
VA     31785
NC     31755
MI     29573
AZ     27702
MD     26779
MA     26042
CO     24612
WA     24419
MN     19991
IN     18661
MO     18140
TN     17665
CT     17273
NV     17172
WI     15136
SC     13821
AL     13812
OR     13681
LA     12937
KY     10983
OK     10285
KS      9467
AR      8553
UT      8215
MS      6154
NM      6118
NH      5564
HI      5547
RI      5030
WV      4039
NE      3704
MT      3224
DE      3216
DC      2754
AK      2692
WY      2424
VT      2331
SD      2305
ME      2201
ID      2029
ND      1649
IA        11
Name: count, dtype: int64
=== 14 === initial_list_status
initial_list_status
w    733649
f    402957
Name: count, dtype: int64
=== 15 === application_type
application_type
Individual    1092235
Joint App       44371
Name: count, dtype: int64
=== 16 === verification_status_joint
verification_status_joint
Not Verified       22411
Source Verified    12189
Verified            8263
Name: count, dtype: int64
=== 17 === hardship_flag
hardship_flag
N    1124130
Y       1640
Name: count, dtype: int64
=== 18 === hardship_type
hardship_type
INTEREST ONLY-3 MONTHS DEFERRAL    5769
CVD19SKIP                          3143
ST0650PV01                         1293
DR02INTV01                            9
ST03INTV01                            5
CVD193MO                              4
DR0250PV01                            1
ST06RIV01                             1
Name: count, dtype: int64
=== 19 === hardship_reason
hardship_reason
INCOMECURT               2400
NATURAL_DISASTER         1428
EXCESSIVE_OBLIGATIONS    1178
UNEMPLOYMENT             1145
MEDICAL                   932
UNEMPLOYED                876
INCOME_CURTAILMENT        711
REDUCED_HOURS             366
REDCDHOURS                308
EXCESSOBLI                253
DIVORCE                   146
NATDISAST                 142
FINANCIAL                 109
FAMILY_DEATH              104
DISABILITY                 87
DEATH                      37
FURLOUGH                    4
Name: count, dtype: int64
=== 20 === hardship_status
hardship_status
COMPLETED    4118
COMPLETE     2681
BROKEN       1786
ACTIVE       1639
Name: count, dtype: int64
=== 21 === hardship_loan_status
hardship_loan_status
Late (16-30 days)     2606
GRACE_CURRENT         1582
In Grace Period       1543
Current               1365
ACTIVE                1362
INCOLLECTION           673
DELINQUENT             552
CURRENT                250
Late (31-120 days)     249
Issued                   6
Name: count, dtype: int64
=== 22 === debt_settlement_flag
debt_settlement_flag
N    1105839
Y      30767
Name: count, dtype: int64

In [41]:
# drop할 컬럼들 리스트에 추가하기
drop_columns = ['url', 'id']
modified_df.drop(columns='id', axis=1, inplace=True)

In [42]:
modified_df.select_dtypes('object').columns

Index(['grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'verification_status', 'loan_status', 'pymnt_plan', 'url', 'purpose',
       'title', 'addr_state', 'initial_list_status', 'application_type',
       'verification_status_joint', 'hardship_flag', 'hardship_type',
       'hardship_reason', 'hardship_status', 'hardship_loan_status',
       'debt_settlement_flag'],
      dtype='object')

In [43]:
object_columns = modified_df.select_dtypes('object').columns
for col in object_columns:
    print(col)
    print(modified_df[col].isna().sum()*100/len(modified_df[col]))

grade
0.0
sub_grade
0.0
emp_title
7.203463645273736
emp_length
6.362451016447213
home_ownership
0.0
verification_status
0.0
loan_status
0.0
pymnt_plan
0.0
url
0.0
purpose
0.0
title
1.1394449791748416
addr_state
0.0
initial_list_status
0.0
application_type
0.0
verification_status_joint
96.22886030867336
hardship_flag
0.9533646663839537
hardship_type
99.1003918684223
hardship_reason
99.10030388718694
hardship_status
99.10047984965766
hardship_loan_status
99.1036471741307
debt_settlement_flag
0.0

In [44]:
def get_columns_na_over_threshold(threshold:int)->list:
    all_columns = modified_df.columns
    columns_na_over_threshold = []
    for col in all_columns:
        if modified_df[col].isna().sum()*100/len(modified_df[col])>50:
            columns_na_over_threshold.append(col)
    return columns_na_over_threshold

In [45]:
modified_df['loan_status'].value_counts()

loan_status
Fully Paid                                             898522
Charged Off                                            217366
Late (31-120 days)                                       9840
In Grace Period                                          6049
Late (16-30 days)                                        1620
Issued                                                   1258
Does not meet the credit policy. Status:Fully Paid       1223
Does not meet the credit policy. Status:Charged Off       460
Default                                                   268
Name: count, dtype: int64

In [46]:
len(modified_df.columns)

140

In [47]:
# 전처리 다 끝나면 저장하기
# modified_df.to_csv("data/preprocessed.csv")

In [56]:
origin_data['loan_status'].value_counts()

loan_status
Fully Paid                                             898522
Current                                                618688
Charged Off                                            217366
Late (31-120 days)                                       9840
In Grace Period                                          6049
Late (16-30 days)                                        1620
Issued                                                   1258
Does not meet the credit policy. Status:Fully Paid       1223
Does not meet the credit policy. Status:Charged Off       460
Default                                                   268
Name: count, dtype: int64

deferral_term
hardship_amount
hardship_start_date
hardship_end_date
payment_plan_start_date
hardship_length
hardship_dpd
hardship_loan_status
orig_projected_additional_accrued_interest
hardship_payoff_balance_amount
hardship_last_payment_amount
disbursement_method
debt_settlement_flag
debt_settlement_flag_date
settlement_status
settlement_date
settlement_amount
settlement_percentage
settlement_term